.c-header .c-header-inner {
	display: flex;
	padding: 0 20px;
	height: 65px;
	font-size: 13px;
}

.c-header-logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.c-header-logo-container .logo-header {
	margin-right: 20px;
}

.c-header-left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.c-header-left .drop-down-container a{
	height: 45px;
	padding: 12px 15px;
	border: 1px solid transparent;
	white-space: nowrap;
}

.c-header-left .search-wrap .input-group {
	display: flex;
	flex-direction: row;
}

.search-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 44px;
	width: 100%;
	margin: 0 25px;
	width: 100%;
}

.search-wrap .search-bar {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.search-bar .input-group {
	flex-grow: 1;
	background-color: #F2F3F5;
	border: 1px solid transparent;
  border-radius: 3px;
  width: 100%;
}

input {
	border: none;
	padding: 10px 12px;
	background-color: transparent;
	outline: none;
	width: 100%;
}

.input-group .button-search {
	display: flex;
	direction: row;
	justify-content: center;
	align-items: center;
	width: 44px;
	color: #EC5252;
}

.input-group:focus-within {
	background-color: transparent;
  border-color: #DEDFE0;
}

.input-group .button-search:hover {
	background-color: #EC5252;
  color: #FFF;
}

a {
	text-decoration: none;
	color: #29303B;
}

.c-header-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*.component-header-right-dropdown-container {
	height: 100%;
}*/

.component-header-right-dropdown-container .header-right-button-dropdown {
	display: none;
}

.header-right-button-dropdown > a {
	margin: 0 2px;
  height: 45px;
  padding: 12px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
}

.shopping-cart {
	margin-right: 10px;
	font-size: 15px;
}

.shopping-cart .header-right-button-dropdown > a {
	width: 45px;
}

.component-button-login-signup > a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 44px;
	margin: 0 2px;
  padding: 10px 12px;
  font-weight: 600;
  border-radius: 3px;
  font-size: 15px;
  white-space: nowrap;
}

.login > a {
	color: #686F7A;
  border: 1px solid #686F7A;
}

.signup > a {
	background-color: #EC5252;
  border: 1px solid transparent;
  color: #FFF;
}

.login > a:hover {
	color: #29303B;
 	background-color: #FFF;
  border-color: #29303B;
}

.signup > a:hover {
	color: #FFF;
 	background-color: #992337;
  border-color: transparent;
}
