.top-categories-component-container {
	display: flex;
	flex-wrap: wrap;
}

.top-categories-component-container .cat-component-item {
	margin: 8px 0;
	width: 33.33%;
	padding-left: 15px;
	padding-right: 15px;
}

.cat-component-item .pannel-body {
	display: flex;
	padding: 15px;
	box-shadow: 0 0 1px 1px rgba(20,23,28,0.1),0 3px 1px 0 rgba(20,23,28,0.1);
}
.cat-component-item .pannel-body:hover {
	box-shadow: 0 2px 8px 2px rgba(20,23,28,0.15);
}

.pannel-body div {
	display: flex;
	align-items: center;
}

.pannel-body div i {
	padding-right: 16px;
	font-size: 32px;
}