.footer .fluid-container {
	margin: 40px auto 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.fluid-container .header {
	display: flex;
}

.fluid-container .header .links {
	width: 75%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 90px;
	margin-bottom: 10.5px;
}

.fluid-container .links li {
	flex: 33.3%;
	width: 33.3%;
	height: 33.3%;
}

.fluid-container .links .big-weight {
	font-weight: 700;
	color: #007791;
}

li a {
	color: #007791;
	font-weight: normal;
	font-size: 13px;
}

.fluid-container .languages-box {
	width: 25%;
}

.languages-box select {
	float: right;
	height: 38px;
	width: 160px;
	background-color: #FFF;
	padding: 9px 26px 9px 10px;
	color: #686F7A;
	font-weight: 600;
	font-size: 13px;
	border: 1px solid #686F7A;
}

.languages-box select option {

}

.languages {
	margin-top: 30px;
	font-size: 13px;
}

.languages div {
	color: #A1A7B3;
	font-weight: bold;
}

.languages span {
	color: #A1A7B3;
	font-weight: bold;
}

.languages ul {
	display: flex;
	flex-wrap: wrap;
}

.languages ul li {
	padding-left: 5px;
	padding-right: 5px;
}

.fuild-bot	{
	border-top: 1px solid #E8E9EB;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 6px solid #EC5252;
}

.fuild-bot .row {
	display: flex;
	align-items: center;
}

.row .row-left {
	width: 50%;
	display: flex;
	color: #686F7A;
	font-size: 13px;
}

.row-left .copyright {
	padding-top: 10px;
	text-align: center;
}

.row .row-left .logo {
	margin-right: 20px;
}

.row .row-right {
	width: 50%;
}

.row .row-right .links {
	float: right;
	display: flex;
}

.row .links li {
	padding: 6px;
}